.hero {
  &__container {
    height: 600px;
    margin: 0 auto;
    @include linearGradientPrimary;
    position: relative;
  }

  &__header-container {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
  }

  &__content-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}