.back-to-top {
  position: fixed;
  bottom: 5rem;
  right: 4rem;
  transform: translateY(25rem); 
  z-index: 100;
  color: $color-light;
  opacity: 0;
  background-color: rgba($color-primary, 0.7);
  padding: 40px;
  border-radius: 50%;
  font-size: 4rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  &--visible {
    opacity: 1;
    transform: translateY(0);
  }
}