.nav {
  &__container {
    color: $color-light;
  }

  &__hamburger {
    opacity: 0.99;
    z-index: 1;
    cursor: pointer;
  }

  &__toggle {
    display: none;
    &:checked ~ .nav__mobile {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  &__mobile {
    position: absolute;
    padding: 6rem 3rem;
    right: 0;
    top: 0;
    opacity: 0;
    transform: scaleX(0);
    border-radius: 10px;
    border-top-right-radius: 0px;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    background-color: darken($color-secondary, 0%);
    width: 200px;
  }
}