body {
  font-family: "Poppins", sans-serif;
}

.text {
  &--small {
    font-size: 1.2rem;
    font-weight: 300;
  }

  &--big {
    font-size: 3.5rem;
    font-weight: 500;
  }

  &--light {
    color: $color-light;

  }
}

.description {
  font-size: 1.4rem;
  line-height: 1.6em;
  &__secondary {
    font-weight: 300;
    color: $color-muted-primary;
  }
}