$color-primary: #D66E87;
$color-secondary: #E39863;
$color-light: #ffffff;
$color-muted-secondary: #eeeeee;
$color-muted-primary: #777777;

// Spacing
//
// Control the default styling of most elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * 0.25),
  2: ($spacer * 0.5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 4)
) !default;

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: (
  10: 10%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
) !default; 

// breakpoints
$xs: 768px;
$sm: 992px;
$lg: 1200px;